:root{


    --clr-primary-paleblue: hsl(225, 100%, 94%);
    --clr-primary-brightblue: hsl(245, 75%, 52%);
    --clr-neutral-verypaleblue: hsl(225, 100%, 98%);
    --clr-neutral-desaturatedblue: hsl(224, 23%, 55%);
    --clr-neutral-darkblue: hsl(223, 47%, 23%);

    --ff-primary: 'Red Hat Display', sans-serif;
    --fs-base: 16px;
    
}



